### Boxplot Project

Summarise the history of the box plot and situations in which it used.
• Demonstrate the use of the box plot using data of your choosing.
• Explain any relevant terminology such as the terms quartile and percentile.
• Compare the box plot to alternatives.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Let's have a look at the meteorological data from the Gurteen met station in Tipperary
df = pd.read_csv("http://cli.met.ie/cli/climate_data/webdata/hly1475.csv", skiprows=17, low_memory=False, usecols = [0,4])
df.head()

                date temp
0  31-dec-2007 01:00
1  31-dec-2007 02:00
2  31-dec-2007 03:00
3  31-dec-2007 04:00
4  31-dec-2007 05:00

In [3]:
#Select the data range we are interested in;
df = df.iloc[8087:16847]

In [4]:
#To check the correct starting time for our analysis use;
df.head()

                   date temp
8087  01-jan-2009 00:00  3.2
8088  01-jan-2009 01:00  3.1
8089  01-jan-2009 02:00  3.3
8090  01-jan-2009 03:00  3.3
8091  01-jan-2009 04:00  0.0

In [5]:
#To check the ending time for our analysis;
df.tail()

                    date  temp
16842  31-dec-2009 19:00  -1.3
16843  31-dec-2009 20:00  -1.5
16844  31-dec-2009 21:00  -1.6
16845  31-dec-2009 22:00  -1.4
16846  31-dec-2009 23:00  -3.9

In [6]:
#Now we can see the data, we need to know what datatypes we are dealing with.
df.dtypes

date    object
temp    object
dtype: object

In [7]:
#We are interested in the date and temperature columns, however they are 'object' type data, so we must convert to relevant data form.
df['Datetime'] = pd.to_datetime(df['date'])
df1 = df['Datetime']

df1.head()

8087   2009-01-01 00:00:00
8088   2009-01-01 01:00:00
8089   2009-01-01 02:00:00
8090   2009-01-01 03:00:00
8091   2009-01-01 04:00:00
Name: Datetime, dtype: datetime64[ns]

In [8]:
df.dtypes

date                object
temp                object
Datetime    datetime64[ns]
dtype: object

In [9]:
df['temp'].head()

8087    3.2
8088    3.1
8089    3.3
8090    3.3
8091    0.0
Name: temp, dtype: object

In [10]:
T = df['temp']

In [11]:
df2 = pd.to_numeric(T, errors = 'coerce')

In [12]:
df2

8087     3.2
8088     3.1
8089     3.3
8090     3.3
8091     0.0
8092     0.6
8093     2.3
8094     0.7
8095     3.8
8096     3.8
8097     2.1
8098     2.2
8099     3.1
8100     4.8
8101     4.1
8102     4.0
8103     3.7
8104     3.0
8105     3.2
8106     3.2
8107     3.0
8108     2.9
8109     2.9
8110     2.9
8111     1.9
8112     1.8
8113     1.9
8114     1.9
8115     1.8
8116     1.7
        ...
16817    1.3
16818    1.8
16819    2.1
16820    1.8
16821    2.4
16822    2.2
16823    2.2
16824    2.9
16825    3.0
16826    2.7
16827    3.0
16828    2.0
16829    1.9
16830    2.1
16831    1.9
16832    1.5
16833    1.1
16834    1.1
16835    1.2
16836    1.5
16837    2.1
16838    1.1
16839    0.7
16840   -0.3
16841   -0.7
16842   -1.3
16843   -1.5
16844   -1.6
16845   -1.4
16846   -3.9
Name: temp, Length: 8760, dtype: float64

In [15]:
df1.append(df2, ignore_index=True)

0        2009-01-01 00:00:00
1        2009-01-01 01:00:00
2        2009-01-01 02:00:00
3        2009-01-01 03:00:00
4        2009-01-01 04:00:00
5        2009-01-01 05:00:00
6        2009-01-01 06:00:00
7        2009-01-01 07:00:00
8        2009-01-01 08:00:00
9        2009-01-01 09:00:00
10       2009-01-01 10:00:00
11       2009-01-01 11:00:00
12       2009-01-01 12:00:00
13       2009-01-01 13:00:00
14       2009-01-01 14:00:00
15       2009-01-01 15:00:00
16       2009-01-01 16:00:00
17       2009-01-01 17:00:00
18       2009-01-01 18:00:00
19       2009-01-01 19:00:00
20       2009-01-01 20:00:00
21       2009-01-01 21:00:00
22       2009-01-01 22:00:00
23       2009-01-01 23:00:00
24       2009-01-02 00:00:00
25       2009-01-02 01:00:00
26       2009-01-02 02:00:00
27       2009-01-02 03:00:00
28       2009-01-02 04:00:00
29       2009-01-02 05:00:00
                ...
17490                    1.3
17491                    1.8
17492                    2.1
17493                    1.8
17494                    2.4
17495                    2.2
17496                    2.2
17497                    2.9
17498                      3
17499                    2.7
17500                      3
17501                      2
17502                    1.9
17503                    2.1
17504                    1.9
17505                    1.5
17506                    1.1
17507                    1.1
17508                    1.2
17509                    1.5
17510                    2.1
17511                    1.1
17512                    0.7
17513                   -0.3
17514                   -0.7
17515                   -1.3
17516                   -1.5
17517                   -1.6
17518                   -1.4
17519                   -3.9
Length: 17520, dtype: object

NameError: name 'Temperature' is not defined